.note-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.note-form-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.note-field {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.note-form button {
    padding: 0.5em;
}