.trip-details-article h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.trip-details-article > .trip-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    padding-inline: 5em;
}

.notes-container {
    width: 31em;
    border: 1px solid #000;
    padding-block: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.notes-container > .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding-inline: 7em;
}

.notes-container > .heading a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background-color: #0d5351;
    color: #FFF;
    padding: 0.3em 2em;
    border-radius: .5em;
    font-weight: bold;
}

.notes-container > .heading a:hover {
    opacity: .8;
    transition: .3s ease-in-out;
}

.note-card {
    margin-block: 1.5em;
}

.note-card span {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.notes-container > .notes-footer {
    display: flex;
    justify-content: center;
}

.trip-info {
    width: 31em;
    border: 1px solid #000;
    padding: 2em 4em;
    border-radius: 1em;
}

.trip-info span {
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.trip-info > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.trip-info > .buttons a {
    background-color: #0d5351;
    padding: .5em 2em;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-radius: .3em;
}

.trip-info > .buttons a:hover {
    opacity: .8;
    transition: .3s ease-in-out;
}

.trip-info > .buttons button {
    background-color: #770d0d;
    padding: .5em 2em;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-radius: .3em;
}

.trip-info > .buttons button:hover {
    opacity: .8;
    transition: .3s ease-in-out;
}


.itineraries-section h2, .expenses-section h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.expenses-section {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.expenses-heading {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.expenses-heading > a {
    background-color: #19809e;
    border-radius: 1em;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    font-size: 1em;
}

.expenses-heading > a:hover {
    opacity: .8;
    transition: .3s ease-in-out;
}

