.edit-trip-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.edit-trip-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.edit-trip-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.edit-trip-field {
    display: flex;
    flex-direction: column;
}

.edit-trip-form button {
    padding: .5em;
    border-radius: 1em;
}