.footer {
    background-color: #949fa8;
    margin-top: 2em;
    padding: 2.5em 9em 2em 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer h5 {
    font-family: "Montserrat", sans-serif;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.5em;
}

.footer-icons svg {
    width: 2em;
    height: 2em;
}

.footer-icons p {
    color: #770d0d;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
}