.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 5em;
    gap: 3em;
}

.profile-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}

.profile-wrapper > .profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

.profile-wrapper > .profile-card img {
    width: 7em;
    height: 7em;
    border-radius: 5em;
}

.profile-wrapper > .profile-card span {
    font-weight: bold;
}

.edit-profile-btn, .delete-profile-btn {
    color: #FFF;
    text-decoration: none;
    padding: 1em 3.5em;
    border-radius: 3em;
    font-weight: bold;
}

.edit-profile-btn {
    background-color: #08b7ec;
    box-shadow: .3em .3em .3em #19809e;
}

.delete-profile-btn {
    background-color: #770d0d;
    box-shadow: .3em .3em .3em #451010;
}

.edit-profile-btn:hover {
    background-color: #19809e;
    transition: .3s ease-in-out;
}

.delete-profile-btn:hover {
    background-color: #451010;
    transition: .3s ease-in-out;
}

.profile-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
