{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="landing-container">
        <h1 class="landing-header">Manage your trips in a simple way <span>!</span></h1>
        <div class="landing-wrapper">
            <p><span>Make</span> travelling easier by planning your trips, checking your expenses and many more using <span>Wanderly</span>, a modern and intuitive website, <span>designed to make your travelling experience amazing</span>. 😊</p>
            <img src="{% static 'images/landing-page-trip.jpg' %}" alt="Landing page trip" />
        </div>

        <div class="trips-wrapper">
            <h2>Browse published trips here:</h2>
        </div>
    </div>
{% endblock %}