.forbidden {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.forbidden-header {
    font-size: 2.5em;
    font-family: "Montserrat", sans-serif;
}

.forbidden-href {
    background-color: #08b7ec;
    padding: 1em;
    border-radius: .7em;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.forbidden-href:hover {
    transition: .3s ease-in-out;
    background-color: #19809e;
}