{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="note-form-wrapper">
        <h2>Create Expense</h2>

        <form method="post" class="note-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="note-field">
                    <label>{{ field.label }}</label>

                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
