{% extends 'common/base.html' %}

{% block content %}
    <hr/>
    <article class="trip-details-article">
        <h1>{{ trip.name }}</h1>

        <section class="trip-section"
                 style="
                         {% if not is_owner %}
                             justify-content: center;
                         {% endif %}
                         ">
            <div class="trip-info">
                <p><span>Budget</span>: {{ trip.budget }}.</p>
                <p>
                    <span>Visibility:</span>
                    {% if trip.is_published %}
                        Public
                    {% else %}
                        Private
                    {% endif %}
                </p>
                <p>From "{{ trip.start_date }}" to "{{ trip.end_date }}".</p>

                <p><span>Description:</span> {{ trip.description }}</p>

                {% if is_owner %}
                    <div class="buttons">
                        <a href="{% url 'trip-edit' trip.pk %}">Edit Trip</a>

                        <form method="post" action="{% url 'trip-delete' trip.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                                Delete Trip
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>

            {% if is_owner %}

                <div class="notes-container">
                    <div class="heading">
                        <h3>Notes</h3>
                        {% if is_owner %}
                            <a href="{% url 'note-create' trip.pk %}">New</a>
                        {% endif %}
                    </div>
                    {% for note in notes_page_obj %}
                        <div class="note-card">
                            <p><span>Category:</span> {{ note.category }}</p>
                            <p><span>Content:</span> {{ note.content }}</p>
                            <p><span>Updated at:</span> {{ note.updated_at }}</p>
                        </div>
                    {% empty %}
                    {% endfor %}

                    <div class="notes-footer">
                        {% if not notes_page_obj.has_next and notes_page_obj.number == 1 %}

                            <p>1 of 1 </p>

                        {% else %}

                            <div class="pagination">
                                <span class="step-links">
                                    {% if notes_page_obj.has_previous %}
                                        <a class="next-pag"
                                           href="?notes_page={{ notes_page_obj.previous_page_number }}">&laquo;</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ notes_page_obj.number }} of {{ notes_page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if notes_page_obj.has_next %}
                                        <a class="next-pag" href="?notes_page={{ notes_page_obj.next_page_number }}">&raquo;</a>
                                    {% endif %}
                                </span>
                            </div>

                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </section>

        <hr/>

        <section class="itineraries-section">
            <div class="itineraries-heading">
                <h2>Itineraries Section</h2>
                {% if is_owner %}
                    <a href="{% url 'itinerary-create' trip.pk %}">New Itinerary</a>
                {% endif %}
            </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Created At</th>
                </tr>
                </thead>

                <tbody>
                {% for itinerary in itineraries %}
                    <tr>
                        <th>{{ itinerary.pk }}</th>
                        <th>{{ itinerary.date }}</th>
                        <th>{{ itinerary.created_at }}</th>
                        <th><a href="{% url 'itinerary-details' trip.pk itinerary.pk %}" class="view-href-itinerary">View</a></th>
                        <th>
                            <form method="post" action="{% url 'itinerary-delete' trip.pk itinerary.pk %}">
                                {% csrf_token %}

                                <button class="view-href-itinerary-delete">Delete</button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

        <hr/>

        <section class="expenses-section">
            <div class="expenses-heading">
                <h2>Expenses Section</h2>
                {% if is_owner %}
                    <a href="{% url 'expense-create' trip.pk %}">New Expense</a>
                {% endif %}
            </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>

                <tbody>
                {% for expense in expenses %}
                    <tr>
                        <th>{{ expense.category }}</th>
                        <th>{{ expense.amount }}</th>
                        <th>{{ expense.description }}</th>
                        <th>{{ expense.date }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>
    </article>
{% endblock %}